[Desktop Entry]
Version=1.0
Type=Application
Exec=zim
Icon=zim
StartupNotify=true
Terminal=false
Categories=Utility;TextEditor;GTK;
MimeType=application/x-zim-notebook;text/x-zim-wiki;application/x-gjots;
Name=Zim Desktop Wiki
Comment=Edit text files "wiki style"
GenericName=Text Editor
Name[cs]=Zim Desktop Wiki
Comment[cs]=Upravujte textové soubory jako wiki
GenericName[cs]=Textový wiki editor
Name[de]=Zim Desktop Wiki
Comment[de]=Bearbeite Textdateien im 'Wiki-Stil'
GenericName[de]=Texteditor
Name[es]=Zim Wiki de escritorio
Comment[es]=Editar archivos de texto "estilo wiki"
GenericName[es]=Editor de texto
Name[fr]=Zim, le Wiki de bureau
Comment[fr]=Modifier les fichiers textes « à la façon wiki »
GenericName[fr]=Éditeur de texte
Name[he]=זים הוויקי השולחני
Comment[he]=ערוך קבצי טקסט "בסגנון ויקי"
GenericName[he]=עורך טקסט
Name[it]=Zim Desktop Wiki
Comment[it]=Crea file di testo in stile "Wiki"
GenericName[it]=Editor di Testo
Name[nl]=Zim Desktop Wiki
Comment[nl]=Bewerk tekstbestanden ""wiki style"'
GenericName[nl]=Tekst Verwerker
Name[pt]=Wiki Pessoal Zim
Comment[pt]=Editor de texto "tipo wiki"
GenericName[pt]=Editor de Texto
Name[sv]=Zim Desktop Wiki
Comment[sv]=Redigera textfiler i wikimiljö
GenericName[sv]=Textredigerare
Name[da]=Zim Desktop Wiki
Comment[da]=Redigér tekst filer i "wikistil"
GenericName[da]=Tekstredigeringsprogram
Name[ca]=Zim Wiki d'escriptori
Comment[ca]=Editar arxius de text "wiki style"
GenericName[ca]=Editor de text
Name[et]=Zim Töölaua Viki
Comment[et]="Viki stiilis" teksti kirjutamine
GenericName[et]=Tekstiredator
Name[gl]=Wiki Personal Zim
Comment[gl]=Editor de texto "ó xeito Wiki"
GenericName[gl]=Editor de textos
Name[ja]=Zim デスクトップ・ウィキ
Comment[ja]="ウィキ形式"の文書を作成します
GenericName[ja]=テキスト・エディタ
Name[pt_BR]=Zim Desktop Wiki
Comment[pt_BR]=Edite arquivos de texto no "estilo wiki"
GenericName[pt_BR]=Editor de texto
Name[ru]=Zim Desktop Wiki
Comment[ru]=Редактировать текстовые файлы в стиле "wiki"
GenericName[ru]=Редактор текста
Name[zh_CN]=Zim 桌面维基
Comment[zh_CN]=编辑文本文件“维基风格”
GenericName[zh_CN]=文本编辑器
GenericName[ar]=محرّر النصّ
Name[en_GB]=Zim Desktop Wiki
Comment[en_GB]=Edit text files "wiki style"
GenericName[en_GB]=Text Editor
GenericName[fa]=ویرایشگر متن
Name[fi]=Zim työpöytä-wiki
Comment[fi]=Muokkaa tekstitiedostoja "wiki-tyylillä"
GenericName[fi]=Tekstieditori
GenericName[ko]=텍스트 편집기
Name[ml]=സിം പണിയിട വിക്കി
GenericName[ml]=ടെക്സ്റ്റ് എഴുത്തിടം
Name[nb]=Zim Skrivebords-wiki
Comment[nb]=Endre tekstfiler "på wiki måten"
GenericName[nb]=Tekstbehandler
Comment[pl]=Edytuj w stylu Wiki
GenericName[pl]=Edytor tekstu
Name[tr]=Zim Desktop Wiki
Comment[tr]=Metin dosyalarını "wiki tarzı"nda düzenleyin
GenericName[tr]=Metin Düzenleyici
Comment[bg]=Редактирай текстовите файлове като wiki
GenericName[bg]=Текстов редактор
Name[eu]=Zim Mahaigaineko Wikia
Comment[eu]=Editatu testu fitxategiak "wiki erara"
GenericName[eu]=Testu-editorea
GenericName[sk]=Textový editor
GenericName[sr]=Уређивач текста
Name[zh_TW]=Zim 桌面維基
Comment[zh_TW]=以維基樣式編輯文字檔案
GenericName[zh_TW]=文字編輯器
X-Ayatana-Desktop-Shortcuts=X-QuickNote;X-QuickNoteClipboard;

[X-QuickNote Shortcut Group]
Name=Quick Note
Exec=zim --plugin quicknote
TargetEnvironment=Unity

[X-QuickNoteClipboard Shortcut Group]
Name=Quick Note from Clipboard
Exec=zim --plugin quicknote input=clipboard
TargetEnvironment=Unity


