# Zim specific
**/.zim
tests/tmp/
test_report.html
test_times.csv
locale/
man/
html/
xdg/hicolor/
debian/pycompat
windows/build/
windows/version-and-date.nsi
MANIFEST
tests/tmp/
test_*
coverage/


# Temporary files to be ignored
*.bak
*.tmp
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pybuild/

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# mkdocs documentation
/site

# debian pybuild
.pybuild/
debian/python-module-stampdir/
