# Script and module files are included automatically
# need to specify additional ditribution files here
include *.txt
include *.py
include *.pot
include Makefile
recursive-include data/ *
prune data/manual/.zim/
recursive-include icons/ *
recursive-include tools/ *
recursive-include xdg/ *
recursive-include po/ *
recursive-include cgi-bin/ *
recursive-include contrib/ *
recursive-include HACKING/ *
prune HACKING/.zim/
recursive-include tests/ *
prune tests/tmp/
global-exclude *~ *.bak *.swp *.pyc
