[Desktop Entry]
Version=1.0
Name=Opera Web Browser
Exec=opera %u
Terminal=false
Type=Application
Icon=opera
X-Zim-AppType=web_browser
Name[ca]=Navegador web Opera
Name[cs]=Opera Webový prohlížeč
Name[es]=Navegador web Opera
Name[fa]=مرورگر اینترنتی Opera
Name[fi]=Opera-selain
Name[fr]=Navigateur Web Opera
Name[hu]=Opera webböngésző
Name[it]=Opera Browser Web
Name[ja]=Opera ウェブ・ブラウザ
Name[ko]=Opera 웹 브라우저
Name[nb]=Opera Nettleser
Name[nl]=Opera webbrowser
Name[nn]=Opera Nettlesar
Name[no]=Opera Nettleser
Name[pl]=Przeglądarka WWW Opera
Name[pt]=Opera Navegador Web
Name[pt_BR]=Navegador Web Opera
Name[sk]=Internetový prehliadač Opera
Name[sv]=Webbläsaren Opera
