body      {background-color: #fff; color: #000; font-family: sans-serif}

a         {text-decoration: none;}
a:link    {color: #0a7e0a;}
a:visited {color: #9d1313;}
a:hover   {text-decoration: underline}
a:active  {text-decoration: underline}
a.empty   {color: gray}
a.private {color: black}

u         { text-decoration: none;
            background-color: yellow   }

ul.menu   {list-style-image: url(/images/bullet.png);}
ul        {text-align: left}

.error    {color: #f00;}
.header   {color: #777;}
.footer   {color: #777;}

textarea  {width: 100%;}

span.zim-tag {color: #ce5c00;}
