[Desktop Entry]
Version=1.0
Type=Application
Exec=open
NoDisplay=true
X-Zim-AppType=file_browser;web_browser;email_client;text_editor
X-Zim-ShowOnlyFor=darwin
Name=Default (Mac)
