Source: zim
Section: utils
Priority: optional
Maintainer: Jaap Karssenberg <jaap.karssenberg@gmail.com>
Standards-Version: 4.1.1
Build-Depends: debhelper (>= 7.4.12), dh-python, xdg-utils, python3 (>= 3.2), python3-setuptools, gir1.2-gtk-3.0, python3-gi, python3-xdg
X-Python3-Version: > 3.2

Package: zim
Architecture: all
Homepage: https://zim-wiki.org/
Depends: ${python3:Depends}, ${misc:Depends}, python3 (>= 3.2), libgtk-3-0 (>= 3.18), gir1.2-gtk-3.0, python3-gi, python3-xdg
# python-gtkspell required for the spell checker plugin
# Recommends: python-gtkspellcheck
# graphviz required for the link map/diagram plugins
# git or similar required for the version control plugin
# scrot required for the screenshot plugin
# dvipng required for the "equation" plugin
Suggests: git, graphviz, scrot, dvipng
Description: Desktop Wiki Editor
 Zim is a graphical text editor used to maintain a collection of wiki pages.
 Each page can contain links to other pages, simple formatting and images.
 Pages are stored in a folder structure, like in an outliner, and can have
 attachments. Creating a new page is as easy as linking to a nonexistent page.
 All data is stored in plain text files with wiki formatting. Various plugins
 provide additional functionality, like a task list manager, an equation editor,
 a tray icon, and support for version control.
 .
 Zim can be used to:
  * Keep an archive of notes
  * Keep a daily or weekly journal
  * Take notes during meetings or lectures
  * Organize task lists
  * Draft blog entries and emails
  * Do brainstorming
