Source: pyzim
Section: utils
Priority: optional
Maintainer: Jaap Karssenberg <pardus@cpan.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>=7), python-support (>= 0.8), cdbs (>= 0.4.49), xdg-utils, python (>= 2.6), libgtk2.0-0 (>= 2.6), python-gtk2, python-xdg

Package: pyzim
Architecture: all
Homepage: http://zim-wiki.org/
Depends: ${misc:Depends}, ${python:Depends}, xdg-utils, python (>= 2.6), libgtk2.0-0 (>= 2.6), python-gtk2, python-xdg
Recommends: desktop-file-utils, bzr, subversion
Suggests: scrot
Conflicts: zim (<= 0.41)
Description: A Desktop Wiki Editor
 Zim brings the concept of a wiki to your desktop. Store
 information, link pages and edit with WYSISYG markup.
 Creating a new page is as easy as linking to a non-existing
 page. Pages are stored in a folder structure, like in an
 outliner, and can have attachments.
 .
 This tool can be used to keep track of TODO lists or ideas,
 to take notes during a meeting or to draft any other kind of
 text (blog entries, important mails, etc.).
