Source: zim
Section: utils
Priority: optional
Maintainer: Jaap Karssenberg <jaap.karssenberg@gmail.com>
Standards-Version: 4.1.1
Build-Depends: debhelper (>= 7.4.12), cdbs, dh-python, xdg-utils, python (>= 2.6), libgtk2.0-0 (>= 2.6), python-gtk2, python-xdg
# For testing should also include "python-unittest2 | python (>= 2.7)"
# but this prevents building the package for Ubuntu Lucid, due to missing
# unittest2 - but zim runs just fine on Lucid
X-Python-Version: >= 2.6, << 3.0

Package: zim
Architecture: all
Homepage: http://zim-wiki.org/
Depends: ${python:Depends}, ${misc:Depends}, python (>= 2.6), python-gtk2, python-xdg
# python-gtkspell required for the spell checker plugin
Recommends: python-gtkspellcheck
# graphviz required for the link map/diagram plugins
# bzr required for the version control plugin
# scrot required for the screenshot plugin
# dvipng required for the "equation" plugin
Suggests: bzr, graphviz, scrot, dvipng
Description: Desktop Wiki Editor
 Zim is a graphical text editor used to maintain a collection of wiki pages.
 Each page can contain links to other pages, simple formatting and images.
 Pages are stored in a folder structure, like in an outliner, and can have
 attachments. Creating a new page is as easy as linking to a nonexistent page.
 All data is stored in plain text files with wiki formatting. Various plugins
 provide additional functionality, like a task list manager, an equation editor,
 a tray icon, and support for version control.
 .
 Zim can be used to:
  * Keep an archive of notes
  * Take notes during meetings or lectures
  * Organize task lists
  * Draft blog entries and emails
  * Do brainstorming
