#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE = 1
export PYBUILD_NAME = zim
export PYBUILD_DISABLE=test  # Ubuntu PPA builder trips over Gtk/Gdk tests

%:
	dh $@ --with python3 --buildsystem=pybuild
